@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <table cellpadding="2" cellspacing="2" border="1">

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Email Id</th>
            @foreach (var s in ViewBag.result)
            {
            <tr>
                <td>@s.Id</td>
                <td>@s.StudentName</td>
                <td>@s.Address</td>
                <td>@s.City</td>
                <td>@s.EmailId</td>
            </tr>
        }
            </tr>
        </table>
</div>