
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table cellpadding="2" cellspacing="2" border="1">

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Email Id</th>
            @foreach (var s in ViewBag.result)
            {
            <tr>
                <td>@s.Id</td>
                <td>@s.StudentName</td>
                <td>@s.Address</td>
                <td>@s.City</td>
                <td>@s.EmailId</td>
            </tr>
        }
            </tr>
        </table>
    </body>
</html>
