@model WebAppEntityFramework.Models.user
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register User</title>
</head>
<body>
    <div class="container-fluid">
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        @using (Html.BeginForm())
        {

            <div class="form-group">
                @Html.HiddenFor(Model => Model.Id)
                <br />
            </div>
            <div class="form-group">
                @Html.HiddenFor(Model => Model.UserId)
                <br />
            </div>
            <div class="form-group">
                <label>Name</label>
                @Html.EditorFor(Model => Model.Name)
                <br />
            </div>
            <div class="form-group">
                <label>Password</label>
                @Html.EditorFor(Model => Model.passwd)
                <br />
            </div>
                @*<label>State</label>
                @Html.EditorFor(Model => Model.State)
                <br />
                <label>City</label>
                @Html.EditorFor(Model => Model.City)
                <br />
                <label>Email Id</label>
                @Html.EditorFor(Model => Model.EmailId)
                <br />*@
                <input type="submit" name="Save Data" class="btn btn-default" />
                }
            </div>
</body>
</html>
